<div class="MainCustomer">

    <div class="container-fluid">

        <!-- add button start -->

        <div class="AddCircle">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>

        <!-- add button end -->

        <div id="tab-1">
            <div class="box">
            
            <div class="ActivitiesData">
                <div class="NamePolicy">
                    <div class="ClientName">Sunil Mehta</div>
                    <div class="policyNo ExtraText">Policy No. 734379349
                    <span>ICICI Lombard</span>
                    </div>
                </div>
                
                <div class="DetailsArea">
                    <div class="IcoNArea">
                        <img src="/assets/Images/Tasks/General_Insurance.png">
                        <span>Hemant</span>
                    </div>
                    <div class="DataArea SmallData">
                        <div class="PolicyProd">Motor Claim</div>
                        <div class="ProdInfo">MH02 BY 7066</div>
                        
                        <div class="WhenWhatsM">
                            <div class="WhenText">
                            <p>Start Date</p>
                            <span>23/11/21</span>
                            </div>
                            <div class="WhatText">
                            <p>Deadline</p>
                            <span>01/02/22</span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="StatusArea BigData">
                        <div class="StausRes1">Claim Approved. Awaiting</div>
                        <div class="StausRes2">Bank credit</div>
                        <div class="almostClosed">Almost closed</div>
                    </div>
                </div>
              </div>
            
            </div>
          </div>

        <div class="Bluekey">
            Activies in this Task
        </div>


        <div class="content">
            <div class="detail">
                <div class="tabs-control SecondTab">
                    <a *ngFor="let activitytype of ActivityTypes" (click)="filterActivity(activitytype)"
                    [ngClass]="{'selected' : activitytype.id === selectedActivity.id}"
                    >{{activitytype.title}}</a>
                </div>
                <div class="tabs-content">

                    <!-- tab -->
                        <div class="box TableClas" >

                            <div class="BlueTR">
                                <div>Date</div>
                                <div>Type By</div>
                                <div>Description</div>
                            </div>

                            <table>
                                <tr *ngFor="let activity of filteredActivity">
                                    <td>{{activity.date}}</td>
                                    <td>{{activity.create_by}}</td>
                                    <td colspan="2">{{activity.descr}}</td>
                                </tr>
                            </table>
                        </div>
                    
                    <!-- tab -->

                </div>
            </div>
        </div>

        <div class="GenRateSubClas">
            <input type="button" value="Task Documents">
        </div>



    </div>

</div>