<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeEntry</title>
</head>
<body>
    <div class="main">
        <div class="innerCommonHead">
            <div >L.I.C Policy Entry
            </div>
            <div>
                <input  value="Save" style="background-image: url(assets/Images/save_BTN.png);">
                <input  value="Reset" style="background-image: url(assets/Images/reset_BTN.png);">
            </div>
        </div>

        <div class="BasicDetailInputs">
            <div>
                <p><b>Policy Holder Name</b></p>
                <br>
                <input type="text" maxlength="100">
                <img src="assets/Images/iconAddDetails.png">
            </div>
            <div>
                <p><b>Group Code</b></p>
                <br>
                <input type="text">
            </div>
            <div>
                <p><b>Date of Birth</b></p>
                <br>
                <input type="date">
            </div>
            
            <div>
                <p><b>Policy Number</b></p>
                <br>
                <input type="number" maxlength="10">
            </div>
            <div>
                <p><b>Commencement Date</b></p>
                <br>
                <input type="date">
            </div>
            <div>
                <p><b>Plan</b></p>
                <br>
                <select name="" id="">
                    <option>814 - New Endowment with profits</option>
                    <option>815 - New Endowment with profits</option>
                </select>
            </div>
            <div>
                <p><b>Term</b></p>
                <br>
                <select>
                    <option>25</option>
                    <option>30</option>
                </select>
            </div>
            <div>
                <p><b>Premium Term</b></p>
                <br>
                <select>
                    <option>25</option>
                    <option>35</option>
                </select>
            </div>
            <div>
                <p><b>Mode of Premium</b></p>
                <br>
                <select>
                    <option>Monthly</option>
                    <option>Yearly</option>
                </select>
            </div>




            <div>
                <p><b>Sum Assured</b></p>
                <br>
                <input type="number" maxlength="10">
            </div>
            <div>
                <p><b>Class Extra Premium Rate per 1000</b></p>
                <br>
                <input type="number" maxlength="10">
            </div>
            <div>
                <p><b>Basic Yearly Premium</b></p>
                <br>
                <input type="number" maxlength="10">
            </div>
        </div>

        <div class="RiderTableHeader">
            <div>
                Riders Opted in this Policy
            </div>
        </div>
        <div class="RiderTable">
            <table>
                <tbody>
                    <tr>
                        <th>Rider Name</th>
                        <th>Term</th>
                        <th>Premium Term</th>
                        <th>Premium</th>
                    </tr>
                    <tr>
                        <td> <input type="checkbox" id="vehicle1"> &nbsp; Double Accident Benefit</td>
                        <td>20</td>
                        <td>20</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td> <input type="checkbox" id="vehicle1"> &nbsp; Term Rider Benefit</td>
                        <td>20</td>
                        <td>20</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td> <input type="checkbox" id="vehicle1"> &nbsp; Critical Illness Rider</td>
                        <td>20</td>
                        <td>500</td>
                        <td>1000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="PlanPeriodDetails">
            <div>
                <p><b>GST</b></p>
                <br>
                <input type="number" maxlength="100">
            </div>
            <div>
                <p><b>1st Year Premium</b></p>
                <br>
                <input type="number" maxlength="100">
            </div>
            <div>
                <p><b>Subsequent Year Premium</b></p>
                <br>
                <input type="number" maxlength="100">
            </div>
        </div>

        <div class="ShowAdvButton">
            <div>
                <input (change)="showAdv($event)" type="checkbox" id="btnControl">
                <label [ngClass]="advance ? 'test' : 'ch'" for="btnControl" class="ch">Show Advance options</label>
            </div>
            <div id="emptyspace" *ngIf="!advance">
            </div>
        </div>

        <div *ngIf="advance">
            <ul class="horizontal" id="nav">
                <li *ngFor="let state of states" (click)="setStateAsActive(state)">
                    <a [class.active]="state === activeState">
                        {{ state.tab }}
                    </a>
                </li>
            </ul>
        </div>
        <div *ngIf='active'>
            <div style="height: 400px;">
                <div class="PlanPeriodDetails">
                    <div>
                        <p><b>First Unpaid Premium (F.U.P.) Date </b></p>
                        <br>
                        <input type="date" maxlength="100">
                    </div>
                    <div>
                        <p><b>Policy Status</b></p>
                        <br>
                        <select>
                            <option>In-force</option>
                            <option>815 - New Endowments with profits</option>
                        </select>
                    </div>
                    <div>
                        <p><b>Loan Taken</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>

                </div>

                <div class="PlanPeriodDetails">
                    <div>
                        <p><b>First Unpaid Loan Int.Date (FULI) </b></p>
                        <br>
                        <input type="date" maxlength="100">
                    </div>
                    <div>
                        <p><b>Present Risk Covered</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>
                    <div>
                        <p><b>Vested Bonus</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>

                </div>

                <div class="PlanPeriodDetails">
                    <div>
                        <p><b>Paid-Up Value </b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>
                    <div>
                        <p><b>Surrender Value</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>
                    <div>
                        <p><b>Loan Available</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>

                </div>
            </div>
            <hr>
        </div>

        <div *ngIf='active'>
            <div style="height: 400px;">
                <div class="PlanPeriodDetails">
                    <div>
                        <p><b>Nominee Type</b></p>
                        <br>
                        <select>
                            <option>In-force</option>
                            <option>815 - New Endowments with profits</option>
                        </select>
                    </div>
                    <div>
                        <p><b>Nominee Name</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>
                    <div>
                        <p><b>Relation with Policy Holder</b></p>
                        <br>
                        <select>
                            <option>In-force</option>
                            <option>815 - New Endowments with profits</option>
                        </select>
                    </div>
                </div>

                <div class="PlanPeriodDetails">
                    <div>
                        <p><b>Appointee Name</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div *ngIf='neft'>
            <div style="height: 400px;">
                <div class="DivideInputneft">
                    <div>
                        <p><b>NACH Mandate Active</b></p>
                        <br>
                        <div class="switch-field">
                            <input type="radio" id="radio-one" name="switch-one" value="yes" checked />
                            <label for="radio-one">Yes</label>
                            <input type="radio" id="radio-two" name="switch-one" value="no" />
                            <label for="radio-two">No</label>
                        </div>
                    </div>
                    <div>
                        <p><b>NACH Mandate Active</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>
                    <div>
                        <p><b>Bank Name</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>



                    <div>
                        <p><b>Bank Branch</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>
                    <div>
                        <p><b>Account Number</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>
                    <div>
                        <p><b>Debit Day</b></p>
                        <br>
                        <select name="" id="">
                            <option>15</option>
                            <option>20</option>
                        </select>
                    </div>



                    <div>
                        <p><b>NEFT Submission Date (for S.B. / Maturity)</b></p>
                        <br>
                        <input type="date" maxlength="100">
                    </div>
                    <div>
                        <p><b>Bank IFSC Code</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>
                    <div>
                        <p><b>Bank Name</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>



                    <div>
                        <p><b>Bank Branch</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>
                    <div>
                        <p><b>Account Number</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>
                    <div>
                        <p><b>Account Type</b></p>
                        <br>
                        <select name="" id="">
                            <option>saving</option>
                            <option>current</option>
                        </select>
                    </div>


                </div>
            </div>
            <hr>
        </div>

        <div *ngIf='more'>
            <div style="height: 400px;">
                <div class="DivideInputmore">
                    <div>
                        <p><b>Sales Channel</b></p>
                        <br>
                        <select name="" id="">
                            <option>nominee</option>
                            <option>current</option>
                        </select>
                    </div>
                    <div>
                        <p><b>Agency</b></p>
                        <br>
                        <select name="" id="">
                            <option>sushmita</option>
                            <option>current</option>
                        </select>
                    </div>
                    <div>
                        <p><b>LIC Servicing Branch</b></p>
                        <br>
                        <select name="" id="">
                            <option>924</option>
                            <option>current</option>
                        </select>
                    </div>
                    <div>
                        <p><b>Medical</b></p>
                        <br>
                        <select name="" id="">
                            <option>nominee</option>
                            <option>current</option>
                        </select>
                    </div>
                    <div>
                        <p><b>Age Proof Admitted</b></p>
                        <br>
                        <div class="switch-field">
                            <input type="radio" id="radio-one" name="switch-one" value="yes" checked />
                            <label for="radio-one">Yes</label>
                            <input type="radio" id="radio-two" name="switch-one" value="no" />
                            <label for="radio-two">No</label>
                        </div>
                    </div>
                    <div>
                        <p><b>Maturity Option</b></p>
                        <br>
                        <select name="" id="">
                            <option>Lump Sum</option>
                            <option>current</option>
                        </select>
                    </div>
                    <div>
                        <p><b>Completion Date</b></p>
                        <br>
                        <input type="date" maxlength="100">
                    </div>
                    <div>
                        <p><b>Tax Beneficiary</b></p>
                        <br>
                        <input type="text" maxlength="100">
                    </div>
                    <div>
                        <p><b>Tax Beneficiary</b></p>
                        <br>
                        <select name="" id="">
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div *ngIf='doc'>
            <div class="RiderTable" style="height: 400px;">
                <div><img class="addDoc" (click)="addRow()" src="assets/Images/iconAddDetails.png"></div>
                <div class="PlanPeriodDetails">
                    <table>
                        <tbody>
                            <tr>
                                <th>Date</th>
                                <th>Reference No.</th>
                                <th>Document Description</th>
                                <th>File</th>
                            </tr>
                            <tr *ngFor="let item of docTable ; let i = index;">
                                <td> <img (click)="deleteRow(i)" class="delIcon"
                                        src="assets/Images/icondelete.png"><input
                                        style="height: 25px;margin-left: 16px;width: 70%;" type="date"></td>
                                <td><input [(ngModel)]="item.age" style="height: 25px;margin-left: 10px;width: 70%;"
                                        type="number"></td>
                                <td><input [(ngModel)]="item.name" style="height: 25px;margin-left: 10px;" type="text">
                                </td>
                                <td><input style="height: 25px;margin-left: 10px;" type="file"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
        </div>

        <div *ngIf='notes'>
            <div style="height: 400px;">
                <div class="PlanPeriodDetails">
                    <textarea name="" id="" cols="150" rows="7"></textarea>
                </div>
            </div>
            <hr>
        </div> 
    </div>
</body>

</html>