<div class="MainCustomer">

    <div class="container-fluid">

        <div class="AddCircle" routerLink="/home/tasks/entry">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>


        <div class="content">
            <div class="detail">
                <div style="cursor: pointer;" class="tabs-control">
                    <a *ngFor="let TaskType of TaskTypes" (click)="filterTasks(TaskType)"
                        [ngClass]="{'selected' : TaskType.id === selectedTask.id}">{{TaskType.title}}</a>
                </div>
                <div class="tabs-content">
                    <!-- tab -->
                    <div class="box" routerLink="/home/tasks/detail">
                        <div *ngFor="let taskDetail of fileteredTasks" class="ActivitiesData">
                            <div class="NamePolicy">
                                <div class="ClientName">{{taskDetail.customer_name}}</div>
                                <div class="policyNo ExtraText">Policy No. {{taskDetail.policy_number}}
                                    <span>{{taskDetail.bank_name}}</span>
                                </div>
                            </div>
                            <div class="DetailsArea">
                                <div class="IcoNArea">
                                    <img src="/assets/Images/Tasks/General_Insurance.png">
                                    <span>{{taskDetail.agent_name}}</span>
                                </div>
                                <div class="DataArea SmallData">
                                    <div class="PolicyProd">{{taskDetail.PolicyProduct}}</div>
                                    <div class="ProdInfo">{{taskDetail.ProductInfo}}</div>

                                    <div class="WhenWhatsM">
                                        <div class="WhenText">
                                            <p>Start Date</p>
                                            <span>{{taskDetail.start_date}}</span>
                                        </div>
                                        <div class="WhatText">
                                            <p>Deadline</p>
                                            <span>{{taskDetail.deadline}}</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="StatusArea BigData">
                                    <div class="StausRes1">{{taskDetail.claim_status}}</div>
                                    <div class="StausRes2">{{taskDetail.credittype}}</div>
                                    <div class="almostClosed">{{taskDetail.bank_status}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- tab -->
                </div>
            </div>
        </div>



    </div>

</div>